---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1>
      <p> {{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}
          - Board of Directors Meeting Minutes
      </p>
    </h1>
  </header>

  <article class="post-content">
    </p>
    {% include members.html %}
    {{ content }}
    <p>Respectfuly submitted,</p>
    <p></p>
    <p>Powell Quiring, Secretary</p>
  </article>

</div>
